* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial',sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background: #f0f0f0;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.card {
  width: 250px;
  height: 450px;
  background: linear-gradient(135deg,#667eea 0%,#764ba2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
}
.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h2{
  color: #fff;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-content p {
  color: #303030;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.card-content .btn {
  font-size: 18px;
  color: #03fcf4;
}
